
  <div style= "width: 33%; margin: 4% auto auto auto;"class="white_background card_borderradius card_padding card_margin card_boxshadow">
    <h2 class="card_h2">Edit this list:</h2>
    <%= simple_form_for @list do |f| %>
    <%= f.input :title %>
    <h5>Add tools to your list:</h5>
    <%= f.association :tools %>
    <%= f.button :submit, "Go", class: "btn btn-primary" %>
  <% end %>
