
<div style= "width: 33%; margin: 1% auto auto auto; "class="white_background card_borderradius card_padding card_margin card_boxshadow">
  <h2 class="card_h2">Create a new list:</h2>
    <%= simple_form_for @list do |f| %>
      <%= f.input :title %>
      <h2>Add a tool to your list:</h2>
      <%= f.input :tools %>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
    <% end %>
</div>

