// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$miku: rgb(0, 112, 124);
$mikuhover: rgb(53, 53, 53);
$background-green: #3ca48b;

$miku: rgb(0, 128, 109);
$mikubright: rgb(229, 239, 239);


$text: black;
$colorful-text: $miku;
