// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$miku: rgb(84, 120, 205);
$mikuhover: rgb(53, 53, 53);
$gradient: #ffec9e;
$background-green: $miku;
$text: black;

$mikubright: rgb(229, 239, 239);
$brightgray: rgb(243, 243, 243);
$background-light: #e4e9e9;
$colorful-text: $miku;
