.dash-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.dash-grid {
  margin-top: 10px;
  display: grid;
  grid-template-areas:
  "prof      social    reccomend"
  "toolboxes toolboxes reccomend"
  ;
  grid-template-columns: 0.6fr 1.2fr 1.2fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  height: 80%;
  width: 90%;
}

.dash-social {
  grid-area: social;
  background-color: white;
 // border-radius: 29px;
  padding: 30px;
  box-shadow: 10px 57px 64px rgba(12, 53, 43, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;

  h2 {
    border-bottom: 3px solid $miku;
    color: $miku;
    width: 100%;
    text-align: center;
  }
}

.dash-profile {
  grid-area: prof;
  background-color: white;
 // border-radius: 29px;
  padding: 30px;
  box-shadow: 10px 57px 64px rgba(12, 53, 43, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;

  h2 {
    border-bottom: 3px solid $miku;
    color: $miku;
    width: 100%;
  }

  .prof-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;

  }

  .prof-right {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    text-align: center;
  }

  .profile-avatar {
    width: 90%;
    height: auto;
    min-width: 150px;
    max-width: 200px;
    box-shadow: 0px 8px 10px -3px rgba(39, 48, 37, 0.36);
    margin: 0;
  }

  #score {
    font-size: 2rem;
    color: $miku;
  }
 }

.dash-tools {
  grid-area: toolboxes;
  background-color: white;
 // border-radius: 29px;
  padding: 35px;
  box-shadow: 0px 57px 64px rgba(12, 53, 43, 0.5);
 }

.dash-reccomend {
  grid-area: reccomend;
  background-color: white;
 // border-radius: 29px;
  padding: 35px;
  box-shadow: 0px 57px 64px rgba(12, 53, 43, 0.5);
 }

 .dash-tools {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $miku;
    border-bottom: 3px solid $miku;
    width: 80%;
    text-align: center;
  }

  .prof-toolboxes {
    display: flex;
    overflow-x: scroll;
    width: 48vw;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding-top: 10px;
  }

  .prof-toolboxes::-webkit-scrollbar {
      display: none;  /* Salink_to fari and Chrome */
  }

  .toolbox {
    border-left: 2px solid $miku;
    border-right: 2px solid $miku;
    min-width: 200px;
    padding: 0px 10px;

    ul {
      padding: 0;
      margin-top: 10%;
    }

    li {
      list-style-type: none;
      padding: 0px;
    }

    // li::before {
    //   content: "<i class='fa-solid fa-wrench'></i>";
    // }

    h5 {
      text-align: left;
    }
  }

  .toolbox:first-of-type {
    border-left: none;
  }

  .toolbox:last-of-type {
    border-right: none;
  }
 }

 .dash-reccomend::-webkit-scrollbar {
   display: none;
 }

 .dash-reccomend {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;


  .tool-contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }

  h2 {
    color: $miku;
    border-bottom: 3px solid $miku;
  }

  .saverate {
    text-align: right;
  }

 }

 @media (max-width) {

 }
