.prof-details-card {
  width: 100%;
  background-color: white;
  box-shadow: 10px 57px 64px rgba(12, 53, 43, 0.5);
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $miku;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: $miku #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $miku;
    border-radius: 10px;
    border: 3px none #ffffff;
  }



  img {
    width: 100%;
    height: auto;

  }

  .text {
    max-height: 200px;
    width: 100%;
    overflow-y: scroll;
    margin-top: 15px;

    p {
      margin: 1.3rem 1.5rem;
    }

  }

  .categories {
    margin: 30px 20px;
    display: flex;
    justify-content: baseline;


    span {
      padding: .625rem;
      color: white;
      background-color: $miku;
      border-radius: 29px;
      margin: 10px;
    }
  }

  .submit-details {
    margin: 1.25rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    span {
      font-size: 1.3rem;
    }

  }

  .preview-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1.25rem 0px;
  }

  .button1 {
    width: 40%;
    margin: 0px;
  }

  .button2 {
    width: 40%
  }


}

.index-profile:hover {
  background-color: rgba(223, 223, 223, 0.808);
}

.index-profile {
  display: flex;
  margin: 1.25rem 0rem;
  padding: 20px;

  img {
    border-radius: 13px;
    width: 120px;
    height: auto;
  }

  h2 {
    font-size: 2rem;
    color: $miku;
  }

  .name-desc {
    margin: 0 .625rem;
    width: 100%;
  }

}
