.grey-bg {
  background-color: #f4f4f4f4;
}

#profile-page {
 // display: flex;
 // flex-direction: column;
 // position: sticky; top: 0;
 .button2 {
  background-color: white;
 }
}
.profile-avatar {
  height: 66%;
  width: 15%;
}
.profile-banner {
  display: flex;
 // height: 20vw;
//  background:radial-gradient(49.68% 93.24% at 102% 100%, #fff5bd 11%, rgba(255, 225, 208, 0) 96%);
  background-color: $miku;
  color: white;
  align-items: center;
  padding-left: 15%;
  .button2 {
    background-color: white;
  }
  .friends-link {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .friends-link:hover {
    cursor: pointer;
    text-decoration: none;
  }
//  padding: 71px 200px;

}

.profile-banner-text {
 padding-left: 30px;
}

.profile-bio {
  p {
    font-size: 20px;
  }
}

.profile-lower-half {
  display: flex;
  //position: sticky; top: 50%;
}

.profile-bio-and-tools {
  display: flex;
  flex-direction: column;
 // width: 40%;
  position: sticky; top: 50vh;
}

.profile-lists{
  margin: 0 auto;
  width: 70%;
  overflow-x: scroll;
  margin-top: 5%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.438);
  border-radius: 29px;

  h2 {
    padding-top: 10px;
    padding-left: 10px;
  }
}

.list-box {
  display: flex;
  align-items: center;
 // height: 40vh;
  overflow-x: scroll;
  width: 100%;
}

.profile-tool-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
//  height: 100%;
}

.prof-scroll-list {
  display: flex;


  .toolbox-card {
    min-width: 25%;


    .toolboxcard-list {
      padding: 0px 10px;
      list-style: none;
    }
  }
}

.profile-banner-buttons {
  display: flex;
  margin-bottom: 10px;
}

.spacer {
  height: 70%;
  width: 1px;
  border: 1px solid $miku;
}

.list-containers {
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
}

.prof-buttons {
  display: flex;
  margin: 25px;

  .button1 {
    margin: 0px;
    margin-right: 10px;
  }
}

.deletecontainer {
  display: flex;
  justify-content: end;
  margin-top: 1.25rem;
  margin-bottom: 1rem;

  .button2 {
    background-color: rgb(226, 109, 109);
    color: black;
    border: 2px solid black;
  }
}
