<h1>AllytoAll</h1>
<p>Coming soon!</p>

<div class="deletethiscontainer">
  <div class="white_background card_borderradius card_padding card_margin card_boxshadow">
   <h2 class="card_h2">title</h2>
   <p class="ellipsis p_card">Lorem ipsum dolor sit amet consectetur adipiscing elit platea, vitae venenatis massa cubilia justo augue luctus, fames egestas ante lectus ullamcorper habitant mauris. Ut ligula morbi rhoncus viverra sed fringilla vel quisque, bibendum vestibulum fermentum eleifend posuere curae class convallis, congue orci phasellus dignissim integer augue commodo. Taciti velit quam laoreet pharetra sociis natoque cubilia hac penatibus suspendisse, quisque montes vulputate volutpat commodo morbi suscipit eu dui arcu varius, et aliquam nam venenatis molestie lobortis fames senectus sem. </p>
  </div>
 <div class="white_background card_borderradius card_padding card_margin card_boxshadow">
   <h2 class="card_h2">title</h2>
   <p class="ellipsis p_card">Lorem ipsum dolor sit amet consectetur adipiscing elit platea, vitae venenatis massa cubilia justo augue luctus, fames egestas ante lectus ullamcorper habitant mauris. Ut ligula morbi rhoncus viverra sed fringilla vel quisque, bibendum vestibulum fermentum eleifend posuere curae class convallis, congue orci phasellus dignissim integer augue commodo. Taciti velit quam laoreet pharetra sociis natoque cubilia hac penatibus suspendisse, quisque montes vulputate volutpat commodo morbi suscipit eu dui arcu varius, et aliquam nam venenatis molestie lobortis fames senectus sem. </p>
  </div>
 <div class="white_background card_borderradius card_padding card_margin card_boxshadow">
   <h2 class="card_h2">title</h2>
   <p class="ellipsis p_card">Lorem ipsum dolor sit amet consectetur adipiscing elit platea, vitae venenatis massa cubilia justo augue luctus, fames egestas ante lectus ullamcorper habitant mauris. Ut ligula morbi rhoncus viverra sed fringilla vel quisque, bibendum vestibulum fermentum eleifend posuere curae class convallis, congue orci phasellus dignissim integer augue commodo. Taciti velit quam laoreet pharetra sociis natoque cubilia hac penatibus suspendisse, quisque montes vulputate volutpat commodo morbi suscipit eu dui arcu varius, et aliquam nam venenatis molestie lobortis fames senectus sem. </p>
  </div>
 <div class="white_background tcard_borderradius tcard_padding tcard_margin tcard_boxshadow">
   <h2 class="tcard_h2">title</h2>
   <p class="ellipsis p_card">Lorem ipsum dolor sit amet consectetur adipiscing elit platea, vitae venenatis massa cubilia justo augue luctus, fames egestas ante lectus ullamcorper habitant mauris. Ut ligula morbi rhoncus viverra sed fringilla vel quisque, bibendum vestibulum fermentum eleifend posuere curae class convallis, congue orci phasellus dignissim integer augue commodo. Taciti velit quam laoreet pharetra sociis natoque cubilia hac penatibus suspendisse, quisque montes vulputate volutpat commodo morbi suscipit eu dui arcu varius, et aliquam nam venenatis molestie lobortis fames senectus sem. </p>
  </div>




  <div class="zero">

  <div class="grid-item item1">
    <div class="img">
    <%=image_tag("tool-svgrepo-com.svg") %>
    </div>
  </div>

  <div class="item2">
    <div class="item21">
        <div class="grid-item toolname">
        <h2>
        Tool name
        </h2>
        </div>
    	<div class="grid-item item212"><p>date<br>4.5★</p></div>
	</div>

  <div class="grid-item item22">
             <p class="ellipsis p_card">Lorem ipsum dolor sit amet consectetur adipiscing elit platea, vitae venenatis massa cubilia justo augue luctus, fames egestas ante lectus ullamcorper habitant mauris. Ut ligula morbi rhoncus viverra sed fringilla vel quisque, bibendum vestibulum fermentum eleifend posuere curae class convallis, congue orci phasellus dignissim integer augue commodo. Taciti velit quam laoreet pharetra sociis natoque cubilia hac penatibus suspendisse, quisque montes vulputate volutpat commodo morbi suscipit eu dui arcu varius, et aliquam nam venenatis molestie lobortis fames senectus sem. </p>
  </div>
  </div>

  <div class="grid-item item23">2.3</div>
</div>





</div>
