<h1>AllytoAll</h1>
<p>Coming soon!</p>

<div style="background: rgb(0, 128, 109); padding: 20px 10px">
<div style="margin: auto ; width: 50%;">
  <div class="white_background card_borderradius card_padding card_margin card_boxshadow">
   <h4 class="card_h2">Title</h4>
   <p class="ellipsis3 p_card">Lorem ipsum dolor sit amet consectetur adipiscing elit platea, vitae venenatis massa cubilia justo augue luctus, fames egestas ante lectus ullamcorper habitant mauris. Ut ligula morbi rhoncus viverra sed fringilla vel quisque, bibendum vestibulum fermentum eleifend posuere curae class convallis, congue orci phasellus dignissim integer augue commodo. Taciti velit quam laoreet pharetra sociis natoque cubilia hac penatibus suspendisse, quisque montes vulputate volutpat commodo morbi suscipit eu dui arcu varius, et aliquam nam venenatis molestie lobortis fames senectus sem. </p>
  </div>
</div>
</div>

<%# grid card %>
<div style="margin: 2% auto 2% auto; width: 50%; ; width: 50%; ">

  <div class="zero">

    <div class="grid-item item1">
      <div class="img tcard_boxshadow">
        <%=image_tag("tool-svgrepo-com.svg") %>
      </div>
    </div>

    <div class="item2">
      <div class="item21">
        <div class="grid-item toolname">
          <h4> Tool name </h4>
        </div>
    	  <div class="grid-item">
          <p class="daterating">date<br>4.5★</p>
        </div>
	    </div>
        <div class="grid-item item22">
          <p class="ellipsis3 p_card">Lorem ipsum dolor sit amet consectetur adipiscing elit platea, vitae venenatis massa cubilia justo augue luctus, fames egestas ante lectus ullamcorper habitant mauris. Ut ligula morbi rhoncus viverra sed fringilla vel quisque, bibendum vestibulum fermentum eleifend posuere curae class convallis, congue orci phasellus dignissim integer augue commodo. Taciti velit quam laoreet pharetra sociis natoque cubilia hac penatibus suspendisse, quisque montes vulputate volutpat commodo morbi suscipit eu dui arcu varius, et aliquam nam venenatis molestie lobortis fames senectus sem. </p>
        </div>
      </div>
      <div class="grid-item">
        <p class="saverate"> Save | Rate</p>
    </div>
  </div>
<%# end %>

<%# grid card small version %>
<div style="margin: auto ; width: 50%;">

  <div class="zero-small">

    <div class=" item0">
    </div>

    <div class="item2">
      <div class="item21">
        <div class="grid-item toolname">
          <h4> Tool name </h4>
        </div>
    	  <div class="grid-item">
          <p class="daterating">date<br>4.5★</p>
        </div>
	    </div>
        <div class="grid-item item22">
          <p class="ellipsis5 p_card">Lorem ipsum dolor sit amet consectetur adipiscing elit platea, vitae venenatis massa cubilia justo augue luctus, fames egestas ante lectus ullamcorper habitant mauris. Ut ligula morbi rhoncus viverra sed fringilla vel quisque, bibendum vestibulum fermentum eleifend posuere curae class convallis, congue orci phasellus dignissim integer augue commodo. Taciti velit quam laoreet pharetra sociis natoque cubilia hac penatibus suspendisse, quisque montes vulputate volutpat commodo morbi suscipit eu dui arcu varius, et aliquam nam venenatis molestie lobortis fames senectus sem. </p>
        </div>
      </div>
      <div class="grid-item">
        <p class="saverate"> Save | Rate</p>
    </div>
  </div>
<%# end %>
</div>
</div>

<%# dashboard toolkit small card %>
<div class= "toolbox-card"style="background-color: none; margin: auto ; width: 15%;">
  <h4>Toolbox name</h4>
  <div class="toolboxcard-list">
    <li>Latest added tool</li>
    <li>Tool with a really, really long name</li>
    <li>Tool 3</li>
    <li>Tool 4</li>
    <li>Tool 5</li>
  </div>
  <p class="mikulink" style= "margin: 5px 0px 0px 2ch">See toolbox</p>
</div>



<div style="width: 100% ; padding-top: 5%; padding-bottom: 5%; padding-right: 3%; background-color: white; ">
  <div class="tool-grid">
    <div class="imgg"> <%=image_tag(src="https://via.placeholder.com/250") %>
</div>
    <div class="name-stars">
      <div class="nameg" style="text-align: left"> <h2>Tool name</h2>
      <p class="colorful-text">Added by Username on DD/MM/YY</p></div>
      <div class="starsg" style="text-align: right"> <h3>★★★★✰</h3> </div>
    </div>
    <div class="textg" style="text-align: left"> <p style="padding-top: 8%">Lorem ipsum dolor sit amet consectetur adipiscing elit, leo nascetur sem integer donec at quisque mus, imperdiet justo conubia suspendisse fames phasellus. Dignissim nulla curae dictum fusce congue praesent, placerat suscipit laoreet imperdiet facilisi odio leo, urna habitasse varius ullamcorper enim. Ullamcorper convallis varius laoreet quam ad class hac nec lectus malesuada, diam sagittis imperdiet sem viverra sapien quis mauris tincidunt cubilia, lobortis natoque sodales tristique metus facilisis platea duis mattis.</p> </div>
    <div class="buttonsg">
    <p class="button1">🧰Save to Toolbox</p>
    <p class="button1">🔗Open Link</p>
    </div>
                    <div class="review-grid">

                      <div class="review-grid-item">
                        <p class="colorful-text" style="text-align: left">
                          Lorem ipsum dolor sit amet.
                        </p>
                        <p style="text-align: left">
                          Lorem ipsum dolor sit amet consectetur adipiscing elit, leo nascetur sem integer donec at quisque mus, imperdiet justo conubia suspendisse fames phasellus. Dignissim nulla curae dictum fusce congue praesent, placerat suscipit laoreet imperdiet facilisi odio leo, urna habitasse varius ullamcorper enim. Ullamcorper convallis varius laoreet quam ad class hac nec lectus malesuada, diam sagittis imperdiet sem viverra sapien quis mauris tincidunt cubilia, lobortis natoque sodales tristique metus facilisis platea duis mattis.
                        </p>
                      </div>
                      <div class="review-grid-item">
                        <div class="avatar-small" style= "padding: 0% 35% 0% 0%">
                          <%=image_tag("https://via.placeholder.com/50", style: "border-radius: 50%")%>
                        </div>
                      </div>
                    </div>
  </div>
</div>


<form>
  <input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">HTML</label><br>

  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
   <label for="vehicle1"> I have a bike</label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
   <label for="vehicle2"> I have a car</label><br>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
   <label for="vehicle3"> I have a boat</label>

  <br>

  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input class="button1"type="submit" value="Submit">
</form>
