.colored-background {
//  background-color: $miku;
  background:
  radial-gradient(110% 119% at 123% 53%, #ffffff 10%, $miku 33%, #7083e100 80%),

  radial-gradient(80.68% 83.24% at 0% 100%, $gradient 13%, $gradient-middle 22%, $miku 90%),


  //radial-gradient(50% 43% at 106% 50%, $gradient 0%, $gradient-middle 22%,  $miku 87%),
  //radial-gradient(80.68% 83.24% at 0% 100%, $gradient 13%, $gradient-middle 22%, $miku 87%)
  ;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
 height: 100%;
}

//   radial-gradient(9.68% 17.24% at 82% 30%, #fff5bd 11%, #ffe2bd 22%, #7083e1 96%)

.colored-background {
  //  background-color: $miku;
  //  background: linear-gradient(80.68% 83.24% at 0% 100%, $gradient 0%, $miku 100%);
  //  background:radial-gradient(80.68% 83.24% at 0% 100%, $gradient 0%, $miku 100%);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
  }

.light-background {
  background-color: $background-light;
}

.light-background-gradient {
//  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 56%);
  background-color: $background-light;
}
