.colored-background {
//  background-color: $miku;
  background:radial-gradient(80.68% 83.24% at 0% 100%, $gradient 0%, $miku 100%);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
 height: 100%;
}

.light-background {
  background-color: $background-light;
}

.light-background-gradient {
//  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 56%);
  background-color: $background-light;
}
