.button1, .btn {

  width: 25%;
  background-color: $miku;
  padding: 1%;
  border-radius: 6px;
  color: white;
 // font-weight: bold;
  margin: 0% 2% 0% 0%;
  min-width: 115px;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button1:hover , .btn:hover{
  background-color: $mikuhover;
  color: white;
}

.mikulink {
  color: $miku;
  text-decoration: underline;
}

.btnnav {
  width: 25%;
  background-color: $mikuhover;
  padding: 1%;
  border-radius: 6px;
  color: white;
 // font-weight: bold;
  margin: 0% 2% 0% 0%;
  min-width: 115px;
  border: none;
}

.button2 {
  border: 3px solid $miku;
  width: 25%;
  text-align: center;
  background-color: white;
  padding: 1%;
  border-radius: 6px;
  color: $miku;
 // font-weight: bold;
  margin: 0% 2% 0% 0%;
  min-width: 115px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .button2:hover {
  color: $mikuhover;
  border-color: $mikuhover;
 }
