.p_card{
  margin-bottom: 0;
}

.card_borderradius {
  border-radius: 23px;
}

.card_padding {
  padding: 28px;
}

.card_margin {
  margin-bottom: 20px;

}



.card_boxshadow {
  -webkit-box-shadow: 12px 14px 23px -6px rgba(0,0,0,0.11);
  box-shadow: 12px 14px 23px -6px rgba(0,0,0,0.11);
}

.card_h2 {
margin-bottom: 10px;
margin-top: -10px;
}
