.ellipsis3 {
  text-overflow:ellipsis;
  overflow:hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.ellipsis5 {
  text-overflow:ellipsis;
  overflow:hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.white_background {
  background-color: white;
}
.p_card{
  margin-bottom: 0;
}

.card_borderradius {
  border-radius: 23px;
}

.card_padding {
  padding: 28px;
}

.card_margin {
  margin-bottom: 20px;

}



.card_boxshadow {
  -webkit-box-shadow: 12px 14px 23px -6px rgba(0,0,0,0.45);
  box-shadow: 12px 14px 23px -6px rgba(0,0,0,0.45);
}

.card_h2 {
margin-bottom: 10px;
margin-top: -10px;
color: $miku;
border-bottom: 3px solid $miku;
}
