.form-control2, .form-control2:focus {
  background-color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}

.form-control {
  transition: none;
  border: none;
}

.form-control:focus {
  outline: 5px solid white;
  background-color: $mikubright;

}

.form-control:hover {
  background-color: $mikubright;
}
