// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "toolcard";
@import "toolshow";
@import "buttons";
@import "reviewcard.scss";

.white_background {
  background: white;
}
.colorful-text {
  color: $miku;
}

h2 {
  margin-bottom: 0rem;
}
