/* .p_tcard{
  margin-bottom: 0;
}

.tcard_borderradius {
  border-radius: 23px;
}

.tcard_padding {
  padding: 28px;
}

.tcard_margin {
  margin-bottom: 20px;

}
 */
/* .tcard_boxshadow {
  box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.39);
}

.tcard_h2 {
margin-bottom: 10px;
margin-top: -10px;
}
 */
 .ellipsis {
  text-overflow:ellipsis;
  overflow:hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.grid-item {
  border: black;
 // padding: 2px;
 // font-size: 30px;
  text-align: center;
}
.zero {
  display: inline-grid;
  grid-template-columns: 1fr 8fr;
//  background-color: #2196F3;
  padding: 5px 9px 5px 4px;
  width: 100%;
  border-bottom: 3px solid $miku;
}
.zero-small {
  display: inline-grid;
  grid-template-columns: 0fr 8fr;
//  background-color: #2196F3;
  padding: 5px 11px 5px 11px;
  width: 100%;
  border-bottom: 3px solid $miku;
}
.zero:hover, .zero-small:hover{

 // background-color: $mikuhover;

  background-color: white;

}
.item0 {
  grid-row: 1 /span 2;
}
.item1 {
  grid-row: 1 /span 2;
  min-width: 60px;
  .img {
    background-color: rgb(171, 171, 171);
    border-radius: 10px;
    margin-right: 10px;
  }
}
.item2 {
  //font-size: 30px;
  text-align: center;
  display: inline-grid;
  border-bottom: 1px;
}
.item21 {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  padding: 1px;
}
.toolname {
  text-align: left;
  margin-bottom: 0px;
}
.item22 {
  text-align: left;
}

.daterating {
  color: $miku;
  text-align: right;
  margin-bottom: 0px;
}

.saverate {
  text-align: center;
  color: $miku;
  margin: 0;
}
.saverate:hover {
  text-decoration: underline;
}
