<div style= "width: 33%; margin: 1% auto auto auto; "class="white_background card_borderradius card_padding card_margin card_boxshadow">
  <h2 class="card_h2">Review</h2>
  <%= simple_form_for [@tool, @review] do |f| %>
  <h2>Leave a review</h2>
    <%= f.input :content %>
    <h2>Leave a rating</h2>
    <%= f.input :rating, as: :integer, input_html: { min: '0', max: '5', step: '1' } %>
    <%= f.button :submit %>
  <% end %>
</div>
